/* section */
.saewrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.saehead {
  text-align: center;
  margin: 0 auto 24px;
}

.saehead h2 {
  font-size: 28px;
  font-weight: 600;
  color: #000;
}

.saehead p {
  color: #000000;
  margin-top: 6px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

/* responsive */
@media (max-width: 768px) {
  .saewrap .textCenter {
    font-size: 36px;
    font-weight: 600;
  }

  .saewrap .saePara {
    font-size: 22px;
    font-weight: 400;
    padding: 0;
  }
}

@media (max-width: 480px),
  (max-width: 375px) {
  .saewrap .textCenter {
    font-size: 24px;
    font-weight: 600;
  }

  .saewrap .saePara {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
  }
}
