*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Open Sans', sans-serif;
}
.user-dashboard-heading{
  background: linear-gradient(90deg, #00AEEF 0%, #FFFFFF 100%);
padding: 1.5vh;
text-align: center;
}
/* Sidebar styles */
.sidebar-user {
width: 400px;
background: linear-gradient(88.34deg, #00AEEF 2.64%, #FFFFFF 99.83%);
left: 0;
min-width: 300px;
margin-top: 1vh;
overflow: hidden;
}

.menu-list-user {
list-style-type: none;
padding: 0;
}

.menu-item-container {
display: flex;
align-items: center;
}

.menu-item-user {
background: linear-gradient(88.34deg, #00AEEF 2.64%, #FFFFFF 99.83%);
width: 100%;
height: 7vh;
border: none;
text-align: center;
padding-left: 5vw;
display: flex;
align-items: center;
}

.menu-item-user .menu-icon {
margin-right: 0.5vw;
font-size: 2rem;
}

.menu-item-user:hover {
background: linear-gradient(90deg, #000000 0%, #666666 49.5%);
color: white;
border-radius: 0px 20px 20px 0px;
}

.menu-item-user.active {
background: linear-gradient(90deg, #000000 0%, #666666 49.5%);
color: white;
border-radius: 0px 20px 20px 0px;
}

.user-dashboard {
display: flex;
flex-direction: row;
background-color: #EEEEEE;
gap: 2vw;
margin-bottom: 0;
}

.user-dashboard-content {
flex-grow: 1;
padding: 2vh;
}
@media only screen and (max-width: 1366px) {
.sidebar-user {
  width: 25vw;
  min-width: 25vw;
}

.menu-item-user {
  padding-left: 1.25vw;
  height: 6vh;
  font-size: 2rem;
}
}

@media only screen and (max-width: 1024px) {
.sidebar-user {
  width: 25vw;
  min-width: 25vw;
}

.menu-item-user {
  padding-left: 1vw;
  height: 6vh;
}

.menu-item-user .menu-icon {
  font-size: 1.5rem;
}

.user-dashboard {
  gap: 1vw;
}

.user-dashboard-content {
  padding: 1vh;
}
}
@media only screen and (max-width: 768px) {
.sidebar-user {
  width: 30vw;
  min-width: 25vw;
}
.menu-item-user{
  font-size: 1.4rem;
}
.menu-icon {

  font-size: 1.8rem;
}
}

.resume-div {
width: 75vw;
min-height: 50vh;
background-color: #FFFFFF;
border: 1px solid #b3b3b3;
box-shadow: 5px 5px 10px #d3d3d3;
border-radius: 20px;
padding: 2vh;
margin: 0 auto; /* Center the content */
overflow-x: auto; /* Allows horizontal scrolling if content is too wide */
}
.resume-download-btn{
padding: 10px;
background-color: #00AEEF;
color: white;
font-size: 24px;
font-weight: 700;
border: none;
border-radius: 10px;
box-shadow: 5px 5px 5px #d3d3d3;
}
@media (max-width: 1366px) {
.resume-div {
  width: 70vw; /* Reduce width */
  padding: 1vh;
 
}
}
/* For tablets */
@media (max-width: 1024px) {
.resume-div {
  width: 67vw; /* Reduce width */
  padding: 1vh;
  font-size: 1.25rem;
}

.resume-download-btn {
  font-size: 16px; /* Reduce button font size */
  padding: 0.75vh;
}

table {
  font-size: 12px; /* Reduce font size in table */
}
}

/* For mobile screens */
@media (max-width: 768px) {
.resume-div {
  width: 65vw; /* Further reduce width */
  padding: 0.5vh;
}

.resume-div-top p {
  font-size: 0.9rem; /* Adjust paragraph font size */
}

.resume-download-btn {
  font-size: 0.9rem; /* Reduce button font size */
  padding: 0.5vh;
}

table {
  font-size: 10px; /* Smaller font size in table */
}
}

/* For very small screens (phones) */
@media (max-width: 480px) {
.resume-div {
  width: 100vw; /* Use full width */
  padding: 0.5vh;
}

table {
  font-size: 8px; /* Reduce table font size */
}

th, td {
  padding: 5px; /* Reduce padding in table cells */
}

.resume-download-btn {
  font-size: 0.8rem; /* Further reduce button font size */
  padding: 0.25vh;
}
}
table {
width: 100%; /* Make table take full width */
border-collapse: collapse; /* Ensure table borders collapse for cleaner look */
}

th, td {
text-align: center; /* Center align text */
padding: 10px;
white-space: nowrap; /* Prevent wrapping of table content */
}
.formgroup-checkbox{
display: flex;
margin-left: 7vw;
margin-top: 3vh;
font-size: 1rem;
font-weight: 600;
}
.explore-btn{
padding: 5px 10px;
background-color: #00AEEF;
color: #FFFFFF;
border-radius: 10px;
border: none;
box-shadow: 5px 5px 5px #d3d3d3;
margin: 20px;
font-size: 20px;
font-weight: 700;
margin-left: 500px;
}
.review-form{
padding: 20px;
}
.resume-div-top{
display: flex;
flex-direction: row;
align-items: center;
gap: 50px;
}