.topbar-text {
  font-size: 14px;
  white-space: nowrap;
}

.logo{
  height: 40px;
  width: auto;
  cursor: pointer;
}

.categories-toggle::after {
  display: none !important;
}

.custom-search {
  border: 1px solid #00aeef;
}

.custom-search input {
  border: none;
  box-shadow: none;
}

.search-btn {
  border-radius: 50% !important;
  background-color: #00aeef !important;
  padding: 5px;
  margin-right: 4px;
}

.search-btn svg {
  font-size: 18px;
}

.search-results {
  max-height: 250px;
  overflow-y: auto;
  z-index: 1050;
  width: 100%;
  left: 0;
}

.mobile-search-overlay {
  overflow-y: auto;
}
.mobile-search-close-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-btn-link {
  color: #00aeef !important;
  text-decoration: none;
}

.login-btn-link:hover {
  color: white !important;
}
.forgotpassword-text{
  margin:0 1vh;
  white-space: wrap;
  font-size: small;
  width: 360px;
}
.captcha-wrapper {
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: rgba(139, 139, 139, 0.12);
  width: 360px;
  height: 48px;
  padding-right: 20px;
  padding-left: 5px;
  margin-left: 10px;
  border-radius: 6px;
}

#canv canvas{
  background-color: rgba(139, 139, 139, 0.12) !important;
  border: none !important;
  box-shadow: none !important;
}

a:not([href]):not([class]) {
  display: none !important;
}

.refresh-captcha-btn {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.refresh-captcha-btn:hover {
  color: #0056b3;
}
.error-field-message {
  color: red;
  font-size: 11px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 2px;
}
.discount-banner-carousel {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}

.discount-banner-wrapper {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  height: 100%;
}

.discount-banner-slide {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Indicators */
.discount-banner-indicators {
  /* position: absolute;
  bottom: 15px;
  transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  /* left: 50%; */
  gap: 8px;
}

.discount-indicator {
  width: 20px;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 10px 0;
}

.discount-indicator.active {
  background: #000;
  width: 40px;
}


@media (max-width: 480px) {
  .topbar-text {
    font-size: 12px !important;
  }
  .topbar-icon {
    font-size: 14px !important;
  }
  .captcha-wrapper {
  width: 90%;
  padding-right: 20px;
}
}
