.topbar-text {
  font-size: 14px;
  white-space: nowrap;
}

.logo{
  height: 40px;
  width: auto;
  cursor: pointer;
}

.categories-toggle::after {
  display: none !important;
}

.custom-search {
  border: 1px solid #00aeef;
}

.custom-search input {
  border: none;
  box-shadow: none;
}

.search-btn {
  border-radius: 50% !important;
  background-color: #00aeef !important;
  padding: 5px;
  margin-right: 4px;
}

.search-btn svg {
  font-size: 18px;
}

.search-results {
  max-height: 250px;
  overflow-y: auto;
  z-index: 1050;
  width: 100%;
  left: 0;
}

/* .mobile-search-overlay {
  overflow-y: auto;
} */
.mobile-search-close-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-btn-link {
  color: #00aeef !important;
  text-decoration: none;
}

.login-btn-link:hover {
  color: white !important;
}
.forgotpassword-text{
  margin:0 1vh;
  white-space: wrap;
  font-size: small;
  width: 360px;
}
.captcha-wrapper {
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: rgba(139, 139, 139, 0.12);
  width: 360px;
  height: 48px;
  padding-right: 20px;
  padding-left: 5px;
  margin-left: 10px;
  border-radius: 6px;
}

#canv canvas{
  background-color: rgba(139, 139, 139, 0.12) !important;
  border: none !important;
  box-shadow: none !important;
}

a:not([href]):not([class]) {
  display: none !important;
}

.refresh-captcha-btn {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.refresh-captcha-btn:hover {
  color: #0056b3;
}
.error-field-message {
  color: red;
  font-size: 11px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 2px;
}
.discount-banner-carousel {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}

.discount-banner-wrapper {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  height: 100%;
}

.discount-banner-slide {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Indicators */
.discount-banner-indicators {
  /* position: absolute;
  bottom: 15px;
  transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  /* left: 50%; */
  gap: 8px;
}

.discount-indicator {
  width: 20px;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 10px 0;
}

.discount-indicator.active {
  background: #000;
  width: 40px;
}
.instructor-profile-banner{
    align-items: center;
    background-image: url(../../Assets/Instructorbanner.webp);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 340px;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.profiles-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
}
.instructor-image {
  display: flex;
  justify-content: center;
  align-items: center;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
    background-color: #E9EAF0;
}
.instructor-card{
    background-color: #FFFFFF;
    border: 1px solid #E9EAF0;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
.expert-name {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 2px;
    color: #1D2026;
    padding-bottom: 0vh;
    padding-top: 10px;
}
.expert-course {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 2px;
    text-align: center;
    color: #8C94A3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
    line-height: 1.5;
}
.instructor-profile-title{
  color: #fff;
}
.instructor-breadcrumb-item, .instructor-breadcrumb-item a, .instructor-breadcrumb-item:active{
  color: #fff;
  font-size: medium;
  font-weight: 400;
}
.instructor-rating{
  font-size: 14px;
  font-weight: 500;
  color: #4E5566;
}
.view-profile-btn {
    background-color: rgba(31, 171, 255, 0.2);
    border: 1px solid rgba(31, 171, 255, 0.2);
    border-radius: 20px;
    color: #00aeef;
    font-size: 14px;
    font-weight: 500;
    height: 38px;
    padding: 5px 15px;
    white-space: nowrap;
    width: 100%;
}
.view-profile-btn:hover {
    background-color: #fff;
    border: 1px solid 00aeef;
    border-radius: 20px;
    color: #00aeef;
    font-size: 14px;
    font-weight: 500;
    height: 38px;
    padding: 5px 15px;
    white-space: nowrap;
    width: 100%;
}
.expert-title {
  font-size: 24px;
  padding: 10px 20px;
  color: #1D2026;
  font-weight: 600;
}
.instructors-filter {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: center;
}

.expert-filter-item {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.expert-filter-item label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.expert-filter-item input,
.expert-filter-item select {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}
.expert-filter-item select {
 max-width: 250px;
}
.search-item {
  width: 50%; 
}

.search-input-wrapper {
  position: relative;
  width: 100%;
}

.search-input-wrapper input {
  width: 100%;
  padding: 8px 10px 8px 35px; /* left padding for icon */
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-input-wrapper .expert-search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}
.top-badge{
  color: #00aeef;
  background-color: rgba(31, 171, 255, 0.2);
  border-radius: 0;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
}
.profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f8f9fa;
  color: #333;
  font-size: 14px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: rgba(31, 171, 255, 0.2);
  color: #00aeef;
}
.about-content {
  display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    max-width: 50%;
    background-image: url('../../Assets/meet-founder-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-partner{
  display: flex;
  color: #056839;
  font-size: medium;
  font-weight: 400;
  padding: 0 16px;
  gap: 10px;
}
.about-partner span{
  color: #1D1D1D;
}
.about-statistics {
  display: flex;
  justify-content: center;
    background-image: url('../../Assets/abouticonsbackground.webp');
    padding: 40px 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-number{
  font-size: x-large;
  font-weight: 700;
  color: #0E2A46;
}
.about-label{
  font-size: small;
  font-weight: 400;
  color: #0E2A46;
}
.about-feat-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 50px;
  gap: 10px;
}
.about-feat-lable{
font-size: medium;
font-weight: 400;
color: #333333;
white-space: wrap;
}
.about-feat-title{
  font-size: large;
  font-weight: 600;
  color: #000;
  margin-bottom: 5px;
}
.about-card-row{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}
.aboutus-feat-title {
   display: flex;
    justify-content: center;
    color: #3D3D3D;
    font-weight: 600;
}
.about-right-icon {
    color: #00AEEF;
    font-size: 28px;
    padding: 2px;
}
.expert-statistics {
  display: flex;
  justify-content: center;
    background-color: #C2EEFC;
    padding: 40px 0;
    width: 100%;
}
.expert-points {
  display: flex;
  align-items: start;
  flex-direction: row;
}
.teaching-title-text {
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 0;
}
.become-expert-title {
    color: #3D3D3D;
    font-weight: 600;
    text-align: left;
    padding: 20px;
    flex-wrap: wrap;
}
.become-expert-center-title {
    color: #3D3D3D;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
}
.expert-content {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 20px;
  padding: 0 20px;
}
.expert-sub-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.expert-number{
  font-size: x-large;
  font-weight: 600;
  color: #1D2026;
}
.expert-label{
  font-size: medium;
  font-weight: 500;
  color: #4E5566;
}
.check-icon{
  color: #23BD33;
  font-size: 30px;
}
.right-icon{
  color: #00AEEF;
  font-size: 24px;
  padding: 0 5px;
}

.expert-points-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  display: block;
}
.expert-points-list li {
  display: list-item;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}
.expert-point-details {
    width: 100%;
    font-size: 14px;
    color: #3D3D3D;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.help-background {
  display: flex;
  justify-content: center;
    background-color: #C2EEFC;
    padding: 40px 0;
    width: 100%;
}
.support-lable{
  font-size: small;
  font-weight: 500;
  color: #8C94A3;
  margin-bottom: 8px;
}
.support-mail, .expert-online-title{
  font-size: medium;
  font-weight: 500;
  color: #1D2026;
  margin-bottom: 5px;
}
.trainer-story-wrapper {
  position: relative;
  text-align: left;
  max-width: 550px;
  padding: 0 20px;
}
.trainer-story{
  font-size: medium;
  font-weight: 400;
  color: #1D2026;
  padding: 25px;
  background-color: #C2EEFC;
  height: 250px;
}
.trainer-author {
  display: block;
  margin-top: 8px;
  font-style: italic;
  color: #666;
}
.quote-icon{
  color: #00AEEF;
  font-size: 56px;
}
.trainer-arrow-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 15px;
}

.trainer-arrow-btn {
  width: 48px;
  height: 48px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 22px;
}
.trainer-arrow-btn.prev, .trainer-arrow-btn.next{
  color: #1D2026;
  font-size: 24px;
  background-color: #F5F7FA;
  cursor: pointer;
}
.trainer-arrow-btn:active, .trainer-arrow-btn:hover{
  color: #fff;
  font-size: 24px;
  background-color: #00AEEF;
}
.expert-online-card{
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  gap: 10px;
}
.expert-online-lable{
font-size: small;
font-weight: 400;
color: #6E7485;
white-space: wrap;
}
.expert-row{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}
.expert-popup-header {
    align-items: center;
    background: #eee;
    display: flex;
    justify-content: space-between;
    padding: 2px 8px;
}
.expert-popup-container {
    background: #EEEEEE;
    border-radius: 4px;
    width: auto;
    max-width: 100%;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.instructor-fields{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.expert-popup-btn{
    background-color: #00aeef;
    border: 2px solid #00aeef;
    border-radius: 50px;
    color: #fff;
    font-size: medium;
    font-weight: 500;
    height: 40px;
    padding: 3px 10px;
    width: 150px;
    margin: 3px 10px;
}
.custom-upload-field {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 48px;
  width: 360px;
  max-width: 100%;
}

.upload-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #555;
}

.upload-text {
  color: #777;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1024px) {
  .profiles-grid, .expert-row, .about-card-row {
    grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 768px) {
  .expert-filter-item, .expert-filter-item select{
  width: 100%;
  max-width: 100%;
}
.custom-upload-field {
  height: 35px;
  width: 90%;
}
  .profiles-grid, .expert-row, .about-card-row {
    grid-template-columns: repeat(1, 1fr);
}
.expert-statistics, .about-statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10%;
}
.help-background {
  display: flex;
  justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}
.instructor-fields{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-content {
 margin: 0 auto;
 max-width: 90%;
  width: 100%;
  padding: 5px;
}
}
@media (max-width: 480px) {
  .topbar-text {
    font-size: 12px !important;
  }
  .topbar-icon {
    font-size: 14px !important;
  }
  .captcha-wrapper {
  width: 90%;
  padding-right: 40px;
}
.profiles-grid {
    grid-template-columns: repeat(1, 1fr);
}
.search-item {
  width: 100%; 
}
}
