.topbar-text {
  font-size: 14px;
  white-space: nowrap;
}

.logo{
  height: 40px;
  width: auto;
  cursor: pointer;
}

.categories-toggle::after {
  display: none !important;
}

.custom-search {
  border: 1px solid #00aeef;
}

.custom-search input {
  border: none;
  box-shadow: none;
}

.search-btn {
  border-radius: 50% !important;
  background-color: #00aeef !important;
  padding: 5px;
  margin-right: 4px;
}

.search-btn svg {
  font-size: 18px;
}

.search-results {
  max-height: 250px;
  overflow-y: auto;
  z-index: 1050;
  width: 100%;
  left: 0;
}

.mobile-search-overlay {
  overflow-y: auto;
}
.mobile-search-close-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-btn-link {
  color: #00aeef !important;
  text-decoration: none;
}

.login-btn-link:hover {
  color: white !important;
}
.forgotpassword-text{
  margin:0 1vh;
  white-space: wrap;
  font-size: small;
  width: 360px;
}
.captcha-wrapper {
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: rgba(139, 139, 139, 0.12);
  width: 360px;
  height: 48px;
  padding-right: 20px;
  padding-left: 5px;
  margin-left: 10px;
  border-radius: 6px;
}

#canv canvas{
  background-color: rgba(139, 139, 139, 0.12) !important;
  border: none !important;
  box-shadow: none !important;
}

a:not([href]):not([class]) {
  display: none !important;
}

.refresh-captcha-btn {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.refresh-captcha-btn:hover {
  color: #0056b3;
}
.error-field-message {
  color: red;
  font-size: 11px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 2px;
}
.discount-banner-carousel {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}

.discount-banner-wrapper {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  height: 100%;
}

.discount-banner-slide {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Indicators */
.discount-banner-indicators {
  /* position: absolute;
  bottom: 15px;
  transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  /* left: 50%; */
  gap: 8px;
}

.discount-indicator {
  width: 20px;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 10px 0;
}

.discount-indicator.active {
  background: #000;
  width: 40px;
}
.instructor-profile-banner{
    align-items: center;
    background-image: url(../../Assets/Instructorbanner.webp);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 340px;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.profiles-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
}
.instructor-image {
  display: flex;
  justify-content: center;
  align-items: center;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
    background-color: #E9EAF0;
}
.instructor-card{
    background-color: #FFFFFF;
    border: 1px solid #E9EAF0;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
.expert-name {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 2px;
    color: #1D2026;
    padding-bottom: 0vh;
    padding-top: 10px;
}
.expert-course {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 2px;
    text-align: center;
    color: #8C94A3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
    line-height: 1.5;
}
.instructor-profile-title{
  color: #fff;
}
.instructor-breadcrumb-item, .instructor-breadcrumb-item a, .instructor-breadcrumb-item:active{
  color: #fff;
  font-size: medium;
  font-weight: 400;
}
.instructor-rating{
  font-size: 14px;
  font-weight: 500;
  color: #4E5566;
}
.view-profile-btn {
    background-color: rgba(31, 171, 255, 0.2);
    border: 1px solid rgba(31, 171, 255, 0.2);
    border-radius: 20px;
    color: #00aeef;
    font-size: 14px;
    font-weight: 500;
    height: 38px;
    padding: 5px 15px;
    white-space: nowrap;
    width: 100%;
}
.view-profile-btn:hover {
    background-color: #fff;
    border: 1px solid 00aeef;
    border-radius: 20px;
    color: #00aeef;
    font-size: 14px;
    font-weight: 500;
    height: 38px;
    padding: 5px 15px;
    white-space: nowrap;
    width: 100%;
}
.expert-title {
  font-size: 24px;
  padding: 10px 20px;
  color: #1D2026;
  font-weight: 600;
}
.instructors-filter {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: center;
}

.expert-filter-item {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.expert-filter-item label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.expert-filter-item input,
.expert-filter-item select {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}
.expert-filter-item select {
 max-width: 250px;
}
.search-item {
  width: 50%; 
}

.search-input-wrapper {
  position: relative;
  width: 100%;
}

.search-input-wrapper input {
  width: 100%;
  padding: 8px 10px 8px 35px; /* left padding for icon */
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-input-wrapper .expert-search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}
.top-badge{
  color: #00aeef;
  background-color: rgba(31, 171, 255, 0.2);
  border-radius: 0;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
}
.profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f8f9fa;
  color: #333;
  font-size: 14px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: rgba(31, 171, 255, 0.2);
  color: #00aeef;
}
.expert-statistics {
  display: flex;
  justify-content: center;
    background-color: #C2EEFC;
    padding: 40px 0;
    width: 100%;
}
.expert-points {
  display: flex;
  align-items: start;
  flex-direction: row;
}
.teaching-title-text {
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 0;
}
.expert-content {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 20px;
  padding: 0 20px;
}
.expert-sub-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.expert-number{
  font-size: x-large;
  font-weight: 600;
  color: #1D2026;
}
.expert-label{
  font-size: medium;
  font-weight: 500;
  color: #4E5566;
}
.check-icon{
  color: #23BD33;
  font-size: 30px;
}


@media (max-width: 1024px) {
  .profiles-grid {
    grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 768px) {
  .expert-filter-item, .expert-filter-item select{
  width: 100%;
  max-width: 100%;
}
  .profiles-grid {
    grid-template-columns: repeat(1, 1fr);
}
}
@media (max-width: 480px) {
  .topbar-text {
    font-size: 12px !important;
  }
  .topbar-icon {
    font-size: 14px !important;
  }
  .captcha-wrapper {
  width: 90%;
  padding-right: 40px;
}
.profiles-grid {
    grid-template-columns: repeat(1, 1fr);
}
.search-item {
  width: 100%; 
}
}
