.unsubscribe-container {
  background-color: #eeeeee;
  padding: 2vh;
  margin-bottom: 0;
}
.unsub-us {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 8vw;
}

.unsub-info {
  font-size: 1.2rem;
  font-weight: 400;
  align-items: center;
}
.unsub-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding-top: 2vh;
}
.unsub-us-icon {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 4vh;
}
.unsub-us-icon img {
  width: 2vw;
}

.flag {
  height: 100px;
  width: 100px;
}
.unsub-us-right {
  max-width: 90%;
  background-color: #ffffff;
  margin-top: 4vh;
  border-radius: 20px;
  border: 1px solid #b3b3b3;
  box-shadow: 5px 5px 10px #d3d3d3;
}
.unsub-form {
  margin-left: 40px;
  padding: 10px;
}
.unsub-us-bottom-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.unsub-us-right-header {
  border-radius: 2vh 2vh 0 0;
  background: linear-gradient(90deg, #006489 0%, #00aeef 49.5%, #006489 100%);
  color: white;
  font-size: clamp(1rem, 3vw, 1.5rem);

  font-weight: 600;
  text-align: center;
  padding: 2vh;
  align-items: center;
}
.u-submit-button {
  background-color: #00aeef;
  color: white;
  padding: 2vh;
  width: 550px;
  max-width: 100%;
  border: none;
  border-radius: 5px;
}
.form-check {
  margin-bottom: 2vh;
}

@media (min-width: 350px) and (max-width: 480px) {
  .unsub-us-div {
    width: 340px;
    height: 180px;
  }

  .unsub-us-div h3 {
    font-size: 16px;
    font-weight: 600;
  }

  .unsub-us-div p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .unsub-us-box {
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-top: 20px;
    gap: 20px;
    align-items: center;
  }

  .unsub-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    gap: 10px;
  }

  .unsub-info {
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    margin-bottom: 0;
    padding: 5px;
  }
  .unsub-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 20px;
    padding-left: 20%;
  }
  .unsub-us-icon {
    padding-top: 10px;
    /* justify-content: space-evenly; */
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .unsub-us-icon img {
    width: 30px;
    margin: 5px;
  }

  .flag {
    height: 100px;
    width: 100px;
  }
  .unsub-us-right {
    width: 340px;
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #b3b3b3;
    box-shadow: 5px 5px 10px #d3d3d3;
  }
  .unsub-form {
    margin-left: 5px;
    padding: 10px;
  }
  .unsub-us-bottom-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .unsub-us-right-header {
    display: flex;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(90deg, #006489 0%, #00aeef 49.5%, #006489 100%);
    color: white;
    font-size: 16px;
    height: 60px;
    font-weight: 600;
    justify-content: center;
    padding: 10px;
    align-items: center;
  }

  .unsub-us-right-header p {
    margin-bottom: 0;
  }

  #unsub1.form-control-unsub {
    max-width: 100%;
    width: 80vw; /* 80% of the screen width */

    height: 35px;
    font-size: 12px;
    padding: 5px;
  }
  .country-code-dropdown {
    font-size: 12px;
    height: 35px !important;
    padding: 0 3px;
    width: 90px !important;
  }

  .country-flag {
    width: 18px;
    margin-right: 3px;
  }
  #unsubscribe-txt.u-mobile-number {
    width: 65% !important;

    height: 35px;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    border-color: #b3b3b3;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .mobile-number {
    width: 90% !important;
    max-width: 550px !important;
    height: 35px;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    border-color: #b3b3b3;
    font-size: 12px;
    margin-bottom: 10px;
  }
  #unsub3.form-control-unsub {
    max-width: 100%;
    width: 80vw; /* 80% of the screen width */

    height: 80px;
    font-size: 12px;
    padding: 5px;
  }

  .u-submit-button {
    padding: 10px;
    width: 300px; /* Set button width to 330px */
    height: 50px; /* Set button height to 40px */
    margin: 0px; /* Center button */
    text-align: center;
    /* margin-left: 5px !important; */
  }
  .form-check {
    margin-bottom: 10px;
  }

  .form-check-input {
    font-size: 16px !important;
  }

  .form-check-label {
    font-size: 10px !important;
    padding-top: 0;
    margin-top: 0;
  }

  .input-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 310px !important;
    margin: 5px 5px 5px 3px !important;
  }

  .input-group-checkbox {
    display: block !important;
    width: 70% !important;
    margin: 5px 5px 5px 3px !important;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .unsub-us {
    margin-left: 0px !important;
  }
  .unsub-us-div {
    width: 30vw;
    padding: 10px;
  }

  .unsub-us-bottom-div {
    flex-direction: column;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .unsub-us {
    margin-left: 10px !important;
  }
  .unsub-us-div {
    width: 300px;
    padding: 5px;
  }
}

.row {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
}

.col-md-5 {
  margin: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%; /* Makes width relative to screen size */
  max-width: 550px; /* Prevents it from growing too large */
}

.input-group-checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; /* Allow wrapping if needed */
  width: 100%; /* Makes it flexible */
  max-width: 550px; /* Prevents it from becoming too large */
}

.custom-width .dropdown-menu {
  min-width: 100px; /* Adjust dropdown menu width if necessary */
}
#unsub1 {
  width: 90%;
  max-width: 550px;
  height: 50px;
  outline: none;
  border: 1px solid #b3b3b3;
}

.country-code-dropdown {
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 50px;
  padding: 0px;
  width: 120px;
  border: 1px solid #b3b3b3 !important;
  display: flex; /* Ensure content is centered */
  align-items: center; /* Center icon and text vertically */
}

.country-flag {
  width: 20px;
  margin-right: 5px;
}

#unsubscribe-txt {
  width: 550px !important;
  height: 50px;
  border-radius: 0 5px 5px 0;
  outline: none;
  border: 1px solid #b3b3b3;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#unsub3 {
  width: 550px;
  height: 100px;
  outline: none;
  border: 1px solid #b3b3b3;
}
.form-check {
  margin-left: 10px;
  margin-bottom: 20px;
}
.form-check-input {
  font-size: 20px;
  border: 1px solid #b3b3b3;
}
.form-check-label {
  font-size: 14px;
  padding-top: 5px;
}
