:root{
  --ink:#0f172a;
  --muted:#6b7280;
  --border:#e6e8ee;
  --panel:#ffffff;
  --soft:#f5f7fb;
  --brand:#1fb6ff;
  --shadow:0 12px 28px rgba(15,23,42,.08);
}

/* section bg */
.sswrap{
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(106.65deg, rgba(194, 214, 252, 0.5) 13.13%, rgba(254, 233, 233, 0.5) 104.74%);
}

/* top pill */
.sstoppill{
  width:fit-content; margin: 0 auto 12px;
  background:#dfd6e3; color:rgba(153, 27, 27, 1);
  border-radius:999px; padding:4px 25px; font-weight:500;
  box-shadow:0 1px 0 rgba(0,0,0,.04);
  border: 1px solid rgba(255, 160, 160, 1);
}
.ssdot{
  width:10px; height:10px; background:#ef4444; border-radius:50%;
  display:inline-block; margin-right:8px;
}

/* head */
.sshead{
  text-align:center; margin-bottom:36px;
}
.sshead h2{
  font-size:32px; font-weight:700; color:var(--ink);
}
.sshead p{
  color: #000000; margin-top:6px;
}

/* grid */
.ssgrid{
  max-width:1350px; margin:0 auto 24px;
  display:grid; grid-template-columns: repeat(3, 1fr); gap:16px;
}

/* card */
.sscard{
  background:var(--panel);
  border:1px solid var(--border);
  border-radius:16px; overflow:hidden;
  box-shadow: var(--shadow);
  display:flex; flex-direction:column;
}
.ssmedia{ position:relative; }
.ssmedia img{ width:100%; height:250px; object-fit:cover; display:block; }
.ssdim{ position:absolute; inset:0; background:linear-gradient(transparent 60%, rgba(0,0,0,.15)); }
.ssplay{
  position:absolute; left:50%; top:50%;
  transform:translate(-50%, -50%);
  border:0; background:transparent; cursor:pointer;
  filter: drop-shadow(0 8px 14px rgba(0,0,0,.3));
}
.ssvideo{ display:block; width:100%; height:auto; }

/* body */
.ssbody{ padding:12px; }
.ssuser{     display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 0px; }
.ssavatar{ width:44px; height:44px; border-radius:50%; object-fit:cover; }
.ssname{ font-weight:600; color:#111827; font-size: 20px;}
.ssdate{ color:#000000; font-weight:500; font-size:12px; font-weight: 300;}
.ssquote{ color:#000000; line-height:1.6; font-size:18px;}

/* CTA panel */
.sscta{
  max-width:820px; margin: 0 auto;
  text-align:center; background:#fff;
  border:1px solid var(--border); border-radius:14px; padding:44px;
  box-shadow: var(--shadow);
}
.ssctatitle{ font-weight:700; color:#0f172a; margin-bottom:4px; font-size: 22px;}
.sscta p{ color:#000000; margin-bottom:12px; font-weight: 300; }
.ssctabtn{
  background: linear-gradient(90deg, #1aa6df, #38c7ff);
  color:#fff; border:0; border-radius:999px; padding:10px 18px;
  font-weight:500; cursor:pointer;
}

/* responsive */
@media (max-width: 1024px){
  .ssgrid{ grid-template-columns: 1fr 1fr; }
}
@media (max-width: 640px){
  .ssgrid{ grid-template-columns: 1fr; }
  .ssmedia img{ height:200px; }
}

@media (max-width: 720px) {
  .sshead h2 {
    font-size: 26px;
  }
  .sshead p {
    font-size: 16px;
  }
  .ssquote {
    font-size: 16px;
  }
}